body{
    margin: o;
    padding: 0;
    font-family: sans-serif;
    background:#9dabad;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 10px;
    width: 240px;
    outline: none;
    color: rgb(207, 87, 7);
    border-radius: 25px;
    transition: .25s;
}
.box h2{
    color: rgb(13, 216, 13);
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 300px;
    border-color: rgb(250, 151, 3);
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 22px;
    width: 150px;
    outline: none;
    color: rgb(207, 87, 7);
    border-radius: 25px;
    transition: .25s;
}
.box input[type = "submit"]:focus{
    width: 200px ;
    border-color: rgb(250, 151,3);
    
}
.box input[type = "submit"]:hover{
    background-color: rgb(177, 126, 68);
    cursor: pointer;
    border-color: red;
    color: rgb(9, 238, 9);
    width: 220px;
    font-size: 20px;
    font-style: italic;

}
h1{
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: center;
    color:#073763;
}