*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: darkgray;
    z-index:15;
    position: absolute;
}
.nav{
    height: fit-content;
    background-color: rgb(15, 15, 153);
    width: 100%;
}
.nav-item a{
    color: #fff;
}
.sidebar{
    display: inline-flex;
    padding-top: 10px;
    position:absolute;
    z-index: 14;
    width: 100%;
}
.imagine{
    height: 600px;
    width: 100%;
}
.butn{
    background-color:white;
    border-radius: 10px;
    font-size: 15px;
    width: 250px;
    height: 30px;
}
.btn{
    height: 30px;
    width: 400px;
    font-size: 10px;
}
.headr{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    padding-top: 20px;
}
.headr1{
    font-size: 15px;
}
.front{
    height:250px;
    width: 600px;
    background-color: darkblue;
    margin-left: 200px;
    border-radius: 23px;
    margin-top: 0px;
}
@media  screen and (max-width:980){
    .sidebar{
        margin-right: -100px;
    }
    .front{
        object-fit: cover;
        object-position: 50% 50%;
    }
}


